{%- if include.value.ind_motivation == "TRUE" or include.value.ind_motivation == "X" -%}
    <span class="technique-icon ind-motivation">
        <nobr>Industry Motivation</nobr>
    </span>
{%- endif -%}
{%- if include.value.ind_evaluation == "TRUE" or include.value.ind_evaluation == "X" -%}
    <span class="technique-icon ind-evaluation">
        <nobr>Industry Evaluation</nobr>
    </span>
{%- endif -%}
{%- if include.value.ind_author == "TRUE" or include.value.ind_author == "X" -%}
    <span class="technique-icon ind-author">
        <nobr>Industry Author</nobr>
    </span>
{%- endif -%}
{%- if include.value.prac_feedback == "TRUE" or include.value.prac_feedback == "X" -%}
    <span class="technique-icon prac-feedback">
        <nobr>Practitioner Feedback</nobr>
    </span>
{%- endif -%}
{%- if include.value.avail_tool == "TRUE" or include.value.avail_tool == "X" -%}
    <span class="technique-icon prac-feedback">
        <nobr>Available Tool</nobr>
    </span>
{%- endif -%}
{%- if include.value.put_practice == "TRUE" or include.value.put_practice == "X" -%}
    <span class="technique-icon put-practice">
        <nobr>Put into Practice</nobr>
    </span>
{%- endif -%}