{%- if include.value == "TRUE" or include.value == "X" -%}
    <td style="background-color: #99cc99;">
        ✓
    </td>
{%- endif -%}
{%- if include.value == "FALSE" -%}
    <td style="background-color: #ff9999;">
        ✗
    </td>
{%- endif -%}
{%- if include.value == "N/A" -%}
    <td>
        N/A
    </td>
{%- endif -%}
{%- if include.value == "MAYBE" -%}
    <td style="background-color: #ff9999;">
        ✗
    </td>
    <!-- <td style="background-color: #ffff99;">
        ?
    </td> -->
{%- endif -%}
{%- if include.value == "Mix" -%}
    <td>
        Mix
    </td>
{%- endif -%}
{%- if include.value == "" -%}
    <td>
        
    </td>
{%- endif -%}