{%- if include.value.tcp == "TRUE" or include.value.tcp == "X" -%}
    <span class="technique-icon tcp">
        TCP
    </span>
{%- endif -%}
{%- if include.value.tcs == "TRUE" or include.value.tcs == "X" -%}
    <span class="technique-icon tcs">
        TCS
    </span>
{%- endif -%}
{%- if include.value.tsr == "TRUE" or include.value.tsr == "X" -%}
    <span class="technique-icon tsr">
        TSR
    </span>
{%- endif -%}
{%- if include.value.tsa == "TRUE" or include.value.tsa == "X" -%}
    <span class="technique-icon tsa">
        TSA
    </span>
{%- endif -%}