---
layout: default
---

<div class="home">

  <div class="wrapper">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}
  </div>

  <!-- <h2>MD version</h2> -->
  <div style="margin: 0 auto; max-width: 1000px;">
    <table id="tableMD" class="hover stripe">
      <thead>
        <tr>
          <th>Year</th>
          <th>Authors</th>
          <th>Title</th>
          <!-- <th class="table-spacing"></th> -->
          <th>Techniques</th>
          <!-- <th class="table-spacing"></th> -->
          <th>Applicability concerns</th>
        </tr>
      </thead>
      <tbody>
        {% assign paper_pages = site.pages | where: "type", "primary" %}
        {%- for page in paper_pages -%}
          <tr>
            <td>{{ page.year }}</td>
            <td>{%- include author_links.html value=page.author_keys -%}</td>
            <td><a href="{{ page.url | relative_url }}">{{ page.title }}</a></td>
            <!-- <td class="table-spacing"></td> -->
            <td>
              {% include technique.html value=page %}
            </td>
            <!-- <td class="table-spacing"></td> -->
            <td>
              {% include applicability.html value=page %}
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
      
    </table>
  </div>




  
  <!-- {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%} -->

</div>

<script>
  // $('#tableMD tfoot th').each( function () {
  //     var title = $(this).text();
  //     $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
  // } );
  // $(document).ready( function () {
  //   $('#tableMD').DataTable({
  //     scrollX: true,
  //     initComplete: function () {
  //       // Apply the search
  //       this.api().columns().every( function () {
  //         var that = this;

  //         $( 'input', this.footer() ).on( 'keyup change clear', function () {
  //           if ( that.search() !== this.value ) {
  //             that
  //               .search( this.value )
  //               .draw();
  //           }
  //         } );
  //       } );
  //     }
  //   });
  // } );

  // $('#tableMD tfoot tr').appendTo('#tableMD thead');

  // $(document).ready( function () {
  //   $('#tableMD').DataTable({
  //     scrollX: true,
  //     "columnDefs": [
  //       { "searchable": false, "targets": [3,4,5,6,7,8,9,10,11,12,13,14] },
  //       { "orderable" : false, "targets": [3,8] }
  //     ]
  //   })
  // });
</script>
