---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          Published in <b>{{ page.published_in }}</b> on <b>{{ page.date | date: date_format }}</b>
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
    </header>

    <!-- <h2>Relevant information</h2> -->
    <table>
      <tr>
        <th>Year</th>
        <th>Authors</th>
        <th>Publisher</th>
        <th>DOI</th>
      </tr>
        <tr>
          <td>{{ page.year }}</td>
          <td>{%- include author_links.html value=page.author_keys -%}</td>
          <td>{{ page.publisher }}</td>
          <td><a href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a></td>
          <!-- <td>{{ paper.Abstract }}</td> -->
        </tr>
    </table>

    <table>
      <tr>
        <th>Techniques</th>
        <th>Applicability</th>
      </tr>
      <tr>
        <td>
          {% include technique.html value=page %}
        </td>
        <td>
          {% include applicability.html value=page %}
        </td>
      </tr>
    </table>

    <!-- <table>
      <tr>
        <th>Realistic Motivation</th>
        <th>Realistic Evaluation</th>
        <th>Industrial Author</th>
        <th>Practitioner Feedback</th>
        <th>Available Tool</th>
        <th>Put into Practice</th>
      </tr>
      <tr>
        {%- include checkmark.html value=page.ind_motivation -%}
        {%- include checkmark.html value=page.ind_evaluation -%}
        {%- include checkmark.html value=page.ind_author -%}
        {%- include checkmark.html value=page.prac_feedback -%}
        {%- include checkmark.html value=page.avai_tool -%}
        {%- include checkmark.html value=page.put_practice -%}
      </tr>
    </table> -->
    
    <table>
      <tr>
        <th>Experiment subject(s)</th>
        <th>Industrial Partner</th>
      </tr>
      <tr>
        <td>{{ page.exp_subjects }}</td>
        <td>{{ page.ind_partner }}</td>
      </tr>
    </table>

    <table>
      <tr>
        <th>Approach</th>
        <th>Metrics</th>
        <th>Open Challenges</th>
      </tr>
      <tr>
        <td>
          {{ page.approach }}
        </td>
        <td>
          {{ page.metrics }}
        </td>
        <td>
          {{ page.open_challenges }}
        </td>
      </tr>
    </table>

    {%- if page.suppl_url != "" -%}
    <table>
      <tr>
        <th>Supplementary Material</th>
      </tr>
      <tr>
        <td>
          <a href="{{ page.suppl_url }}">{{ page.suppl_url }}</a>
        </td>
      </tr>
    </table>
    {%- endif -%}

    <h2>Abstract</h2>
    <div class="post-content e-content" itemprop="articleBody">
      {{ page.abstract }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </div>
</article>
