---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          Published in <b>{{ page.published_in }}</b> on <b>{{ page.date | date: date_format }}</b>
        </time>
        {%- if page.author -%}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p>
    </header>

    <!-- <h2>Relevant information</h2> -->
    <table>
      <tr>
        <th>Year</th>
        <th>Authors</th>
        <th>Publisher</th>
        <th>DOI</th>
      </tr>
        <tr>
          <td>{{ page.year }}</td>
          <td>{{ page.authors }}</td>
          <td>{{ page.publisher }}</td>
          <td><a href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a></td>
          <!-- <td>{{ paper.Abstract }}</td> -->
        </tr>
    </table>

    <table>
      <tr>
        <th>TCP</th>
        <th>TCS</th>
        <th>TSR</th>
        <th>TSA</th>
      </tr>
      <tr>
        {%- include checkmark.html value=page.tcp -%}
        {%- include checkmark.html value=page.tcs -%}
        {%- include checkmark.html value=page.tsr -%}
        {%- include checkmark.html value=page.tsa -%}
      </tr>
    </table>

    <table>
      <tr>
        <th>Paper count</th>
        <th>Years covered</th>
        <th>Systematic?</th>
      </tr>
      <tr>
        <td>
          {{ page.paper_count }}
        </td>
        <td>
          {{ page.years_covered }}
        </td>
          {%- include checkmark.html value=page.systematic -%}
      </tr>
    </table>

    <!-- <table>
      <tr>
        <th>Approaches</th>
        <th>Metrics</th>
        <th>Conclusions</th>
        <th>Open Challenges</th>
      </tr>
      <tr>
        <td>
          {{ page.approach }}
        </td>
        <td>
          {{ page.metrics }}
        </td>
        <td>
          {{ page.conclusions }}
        </td>
        <td>
          {{ page.open_challenges }}
        </td>
      </tr>
    </table> -->

    <h2>Abstract</h2>
    <div class="post-content e-content" itemprop="articleBody">
      {{ page.abstract }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </div>
</article>
